body{
    background-color: gray;
    margin: 30px;
    flex-direction: column;
}
h3,h1{
    color: blue;
      margin: 2%;
      text-shadow: 10px 10px 10px #000;
      flex-direction: column;
}
h4{
    color: red;
    text-shadow: 10px 10px 10px #000;
      margin: 2%;
      flex-direction: column;
}
h2{
    color: greenyellow;
    text-shadow: 1px 2px 3px #000;
      margin: 1%;
      flex-direction: column;
}
i{
    color: greenyellow;
}
.container{
    justify-content: flex-start;
  justify-items: end;
  display: inline-block;/*define como caixa embutida.*/
  margin: 5%;
}
li {
    list-style-type: circle;
    color: yellow;
    text-shadow: -1px 1px 1px #000;
  }
  
  li li {
    list-style-type: square;
  }
  div.container{
    background-color: lightsalmon;

    display: flex;

  }
  div.item{
    background-color: lightskyblue;
    border: 1px solid black;
    text-align: center;
    flex: auto;
  }